<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_FOLDER" value="C:/Temp/logback/crawler" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_FOLDER}/testFile.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.axisdesktop.crawler" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.axisdesktop.crawler" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>


	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>