<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="devEnv = ${#arrays.contains(@environment.getActiveProfiles(),'development')}" ng-app="MapApp">
<head>
	<title>POI</title>
	<meta name="description" content="POI"/>
	
	<th:block th:include="include/meta :: meta" />
	<style>
	html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
	#map { width: 100%; height: 100%;  }
	</style>
	
	
	
	
	
	
	<script type="text/javascript">
	/*<![CDATA[*/
    // Initialise some variables
    var directionsService = new google.maps.DirectionsService();
    var num, map, data;
    var requestArray = [], renderArray = [];

    // A JSON Array containing some people/routes and the destinations/stops
    var jsonArray = {
        "Person 1": ["Torquay", "Teignmouth", "Dawlish", "Exeter"],
        "Person 2": ["Exmouth", "Sidmouth", "Taunton", "Crediton", "Okehampton"],
        "Person 3": ["Penzance", "Truro", "Bodmin", "Falmouth"]
    }
        
    // 16 Standard Colours for navigation polylines
    var colourArray = ['navy', 'grey', 'fuchsia', 'black', 'white', 'lime', 'maroon', 'purple', 'aqua', 'red', 'green', 'silver', 'olive', 'blue', 'yellow', 'teal'];

    // Let's make an array of requests which will become individual polylines on the map.
    function generateRequests(){

        requestArray = [];

        for (var route in jsonArray){
            // This now deals with one of the people / routes

            // Somewhere to store the wayoints
            var waypts = [];
            
            // 'start' and 'finish' will be the routes origin and destination
            var start, finish
            
            // lastpoint is used to ensure that duplicate waypoints are stripped
            var lastpoint

            data = jsonArray[route]

            limit = data.length
            for (var waypoint = 0; waypoint < limit; waypoint++) {
                if (data[waypoint] === lastpoint){
                    // Duplicate of of the last waypoint - don't bother
                    continue;
                }
                
                // Prepare the lastpoint for the next loop
                lastpoint = data[waypoint]

                // Add this to waypoint to the array for making the request
                waypts.push({
                    location: data[waypoint],
                    stopover: true
                });
            }

            // Grab the first waypoint for the 'start' location
            start = (waypts.shift()).location;
            // Grab the last waypoint for use as a 'finish' location
            finish = waypts.pop();
            if(finish === undefined){
                // Unless there was no finish location for some reason?
                finish = start;
            } else {
                finish = finish.location;
            }

            // Let's create the Google Maps request object
            var request = {
                origin: start,
                destination: finish,
                waypoints: waypts,
                travelMode: google.maps.TravelMode.DRIVING
            };

            // and save it in our requestArray
            requestArray.push({"route": route, "request": request});
        }

        processRequests();
    }

    function processRequests(){

        // Counter to track request submission and process one at a time;
        var i = 0;

        // Used to submit the request 'i'
        function submitRequest(){
            directionsService.route(requestArray[i].request, directionResults);
        }

        // Used as callback for the above request for current 'i'
        function directionResults(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                
                // Create a unique DirectionsRenderer 'i'
                renderArray[i] = new google.maps.DirectionsRenderer();
                renderArray[i].setMap(map);

                // Some unique options from the colorArray so we can see the routes
                renderArray[i].setOptions({
                    preserveViewport: true,
                    suppressInfoWindows: true,
                    polylineOptions: {
                        strokeWeight: 4,
                        strokeOpacity: 0.8,
                        strokeColor: colourArray[i]
                    },
                    markerOptions:{
                        icon:{
                            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                            scale: 3,
                            strokeColor: colourArray[i]
                        }
                    }
                });

                // Use this new renderer with the result
                renderArray[i].setDirections(result);
                // and start the next request
                nextRequest();
            }

        }

        function nextRequest(){
            // Increase the counter
            i++;
            // Make sure we are still waiting for a request
            if(i >= requestArray.length){
                // No more to do
                return;
            }
            // Submit another request
            submitRequest();
        }

        // This request is just to kick start the whole process
        submitRequest();
    }

    // Called Onload
    //function init() {

        // Some basic map setup (from the API docs) 
 //       var mapOptions = {
 //           center: new google.maps.LatLng(50.677965, -3.768841),
//           zoom: 8,
//            mapTypeControl: false,
//            streetViewControl: false,
//            mapTypeId: google.maps.MapTypeId.ROADMAP
//        };
            
 //       map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Start the request making
 //       generateRequests()
  //  }

    // Get the ball rolling and trigger our init() on 'load'
    //google.maps.event.addDomListener(window, 'load', init);
    /*]]>*/
</script>
	
	
	
	
	
	
	
	
	
	
</head>
<body ng-controller="MapController as mc">





<ng-map 
	zoom="6" 
	center="[48.8206639,31.2979349]" 
	style="height:100%" 
	scale-control="true"
	on-idle="mc.onIdle()" 
	on-click="mc.onClick()"
	>
	
	<info-window id="info-window" data-ng-controller="PointController as pc" >
	<div >
		<form>
		<div ng-non-bindable="">
			<div><b>{{infoData.name}}</b></div>
			<div>{{infoData.shortDescription}}</div>
			<div>{{infoData.description}}</div>
			<div>{{infoData.address}}</div>
			<div><a href="{{infoData.link}}" target="_blank" ng-show="{{infoData.link}}">{{infoData.link}}</a></div>
			<div>body {{anchor.getPosition()}}</div>
			<!-- label>Добавить в избранное: <input type="checkbox" ng-model="chkp" ng-click="mc.checkPoint( anchor.id, chkp )" /></label-->
			<button ng-click="pc.addPointAnchor( anchor )"><span class="glyphicon glyphicon-plus"></span></button>
			<!-- button ng-click="pc.loadInfo( anchor.id )"><span class="glyphicon glyphicon-minus"></span></button-->
		</div>
		</form>
		</div>
	</info-window>
	<custom-control position="TOP_RIGHT">
		<button type="button" class="btn btn-default btn-lg" id="panel-button" ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	</custom-control>
</ng-map>

<style>
#koko {

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 25%;
                background: #fff;
}
</style>

<div data-ng-show="sidebarChecked"  id="koko" class="container">
<div class="row">
<div class="pull-left" th:text="${username}" />
<button id="close" class="btn btn-default btn-sm pull-right"  data-ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-remove"></span></button>
</div>



<div data-ng-controller="NewPointController as npc" id="new-point-block" class="row">

<div class="form-group form-group-sm">
	{{newPoint.value}} 
	<button type="button" class="btn btn-success btn-sm" data-ng-click="npc.formToggle()"><span class="glyphicon" data-ng-class="{ 'glyphicon-plus': !npc.showForm, 'glyphicon-minus': npc.showForm }"></span></button>
</div>
<div data-ng-show="npc.showForm">
	<form role="form" data-ng-submit="npc.createNewPoint( newPoint )">
		<input type="hidden" class="form-control" name="latitude" data-ng-model="newPoint.latitude" />
		<input type="hidden" class="form-control" name="longitude" data-ng-model="newPoint.longitude"/>
		<div class="form-group form-group-sm">
			<label>Название:</label>
			<input type="text" class="form-control" name="name" data-ng-model="newPoint.name" required="required" /> 
		</div>
		<div class="form-group form-group-sm">
			<label>Описание:</label>
			<textarea name="description" class="form-control" data-ng-model="newPoint.description"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</div>
</div>

<a href="#/">home</a> - 
<a href="#/trips">поездки</a>
<div class="ng-view"></div>

<!--  
<uib-tabset active="activeJustified" justified="true" class="row">
	<uib-tab index="0" heading="Поездки">
		<th:block th:include="include/trips :: trips" />
	</uib-tab>
	<uib-tab index="1" heading="Точки">
		Short Labeled Justified content
	</uib-tab>
 </uib-tabset>
-->







</div>

<!-- 
<pageslide ps-open="sidebarChecked">
	<button id="close" class="btn btn-default btn-sm pull-right"  ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-remove"></span></button>

    <div style="padding:20px" id="demo-right">
        <h2>Hello Pageslide</h2>
        <p>Put here whatever you want</p>
        
       	<div ng-bind="newPoint.val">{{}}</div>
    </div>
</pageslide>
 -->

<th:block th:include="include/trip_list :: trip_list" />
<th:block th:include="include/trip_day_list :: trip_day_list" />
<th:block th:include="include/trip_point_list :: trip_point_list" />

</body>
</html>
