<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="devEnv = ${#arrays.contains(@environment.getActiveProfiles(),'development')}" ng-app="MapApp">
<head>
	<title>POI</title>
	<meta name="description" content="POI"/>
	
	<th:block th:include="include/meta :: meta" />
	<style>
	html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
	#map { width: 100%; height: 100%;  }
	</style>
</head>
<body ng-controller="MapController as mc">

<ng-map 
	zoom="6" 
	center="[48.8206639,31.2979349]" 
	style="height:100%" 
	on-idle="mc.onIdle()" 
	on-click="mc.onClick()"
	>
	
	<info-window id="info-window">
		<form>
		<div ng-non-bindable="">
			<div>header {{anchor.title}}</div>
			<div>body {{anchor.getPosition()}}</div>
			<label>Добавить в избранное: <input type="checkbox" ng-model="chkp" ng-click="mc.checkPoint( anchor.id, chkp )" /></label>
		</div>
		</form>
	</info-window>
	<custom-control position="TOP_RIGHT">
		<button type="button" class="btn btn-default btn-lg" id="panel-button" ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	</custom-control>
</ng-map>

<style>
#koko {

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 300px;
                background: #fff;
}
</style>

<div data-ng-show="sidebarChecked"  id="koko" class="container">
<div class="row">
<div class="pull-left" th:text="${username}" />
<button id="close" class="btn btn-default btn-sm pull-right"  data-ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-remove"></span></button>
</div>



<div data-ng-controller="NewPointController as npc" id="new-point-block" class="row">

<div class="form-group form-group-sm">
	{{newPoint.value}} 
	<button type="button" class="btn btn-success btn-sm" data-ng-click="npc.formToggle()"><span class="glyphicon" data-ng-class="{ 'glyphicon-plus': !npc.showForm, 'glyphicon-minus': npc.showForm }"></span></button>
</div>
<div data-ng-show="npc.showForm">
	<form role="form" data-ng-submit="npc.createNewPoint( newPoint )">
		<input type="hidden" class="form-control" name="latitude" data-ng-model="newPoint.latitude" />
		<input type="hidden" class="form-control" name="longitude" data-ng-model="newPoint.longitude"/>
		<div class="form-group form-group-sm">
			<label>Название:</label>
			<input type="text" class="form-control" name="name" data-ng-model="newPoint.name" required="required" /> 
		</div>
		<div class="form-group form-group-sm">
			<label>Описание:</label>
			<textarea name="description" class="form-control" data-ng-model="newPoint.description"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</div>
</div>

<a href="#/">home</a> - 
<a href="#/trip">поездки</a>
<div class="ng-view"></div>

<!--  
<uib-tabset active="activeJustified" justified="true" class="row">
	<uib-tab index="0" heading="Поездки">
		<th:block th:include="include/trips :: trips" />
	</uib-tab>
	<uib-tab index="1" heading="Точки">
		Short Labeled Justified content
	</uib-tab>
 </uib-tabset>
-->







</div>

<!-- 
<pageslide ps-open="sidebarChecked">
	<button id="close" class="btn btn-default btn-sm pull-right"  ng-click="mc.sidebarToggle()"><span class="glyphicon glyphicon-remove"></span></button>

    <div style="padding:20px" id="demo-right">
        <h2>Hello Pageslide</h2>
        <p>Put here whatever you want</p>
        
       	<div ng-bind="newPoint.val">{{}}</div>
    </div>
</pageslide>
 -->

<th:block th:include="include/trip_list :: trip_list" />
<th:block th:include="include/trip_day_list :: trip_day_list" />

</body>
</html>
