<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="trip_point_list">

<script type="text/ng-template" id="/include/trip_point_list.html">
<div data-ng-controller="PointController as pc" data-ng-init="pc.listPoint();">
	<a class="btn btn-primary" href="#/trip/{{pc.tripId}}" ><span class="glyphicon glyphicon-arrow-up"></span></a>
	<a class="btn btn-primary" href="/userpoint/kml/{{pc.dayId}}" target='_blank'>KML</a>
	<a class="btn btn-primary" href="/userpoint/txt/{{pc.dayId}}" target='_blank'>TXT</a>
	<a class="btn btn-primary" ng-click="pc.createRoute(pc.points)" target='_blank'>R</a>
	
	<table class="table table-hover table-condensed" style="overflow: auto">
		<thead>
			
		</thead>
		<tbody>
			<tr data-ng-repeat="t in pc.points">
				<td><a data-ng-bind="t.name" data-ng-click="pc.selectPoint( t )"></a></td>
				<td><span class="glyphicon glyphicon-remove" ng-click="pc.removePoint( t )"></span></td>
				<!--td><a href="#/trip/{{t.id}}" type="button" class="btn btn-warning btn-xs">Инфо</a></td-->
			</tr>
		</tbody>
	</table>
	<div ng-repeat="i in pc.routeInfo">
		<div>{{i}}</div>
	</div>
</div>
</script>

</body>
</html>
