<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="trip_day_list">

<script type="text/ng-template" id="/include/trip_day_list.html">
<div data-ng-controller="TripController as tc" data-ng-init="tc.listDay();">
	<input type="text" name="newTrip" ng-model="tc.newTrip"/>
	<button type="button" class="btn btn-primary" ng-click="tc.addDay()">Добавить</button>
	<table class="table table-hover table-condensed">
		<thead>
			
		</thead>
		<tbody>
			<tr data-ng-repeat="t in tc.days">
				<td><a href="#/trip/{{t.parentId}}/day/{{t.id}}" data-ng-bind="t.name" editable-text="t.name" onaftersave="tc.updateTrip(t)"></a></td>
				<td style="width:30px"><span class="glyphicon glyphicon-pencil" ng-click=""></span></td>
				<td style="width:30px"><span class="glyphicon glyphicon-chevron-up" ng-click="tc.moveUp( t )"></span></td>
				<td style="width:30px"><span class="glyphicon glyphicon-chevron-down" ng-click="tc.moveDown( t )"></span></td>
				<!--td><a href="#/trip/{{t.id}}" type="button" class="btn btn-warning btn-xs">Инфо</a></td-->
			</tr>
		</tbody>
	</table>
</div>
</script>

</body>
</html>
