<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="trip_point_list">

<script type="text/ng-template" id="/include/trip_point_list.html">
<div data-ng-controller="PointController as pc" data-ng-init="pc.listPoint();">
	<button type="button" class="btn btn-primary">Добавить</button>
	<table class="table table-hover table-condensed" style="overflow: auto">
		<thead>
			
		</thead>
		<tbody>
			<tr data-ng-repeat="t in pc.points">
				<td><a data-ng-bind="t.name" data-ng-click="pc.selectPoint( t )"></a></td>
				<td><span class="glyphicon glyphicon-remove" ng-click="pc.removePoint( t )"></span></td>
				<!--td><a href="#/trip/{{t.id}}" type="button" class="btn btn-warning btn-xs">Инфо</a></td-->
			</tr>
		</tbody>
	</table>
</div>
</script>

</body>
</html>
